<h2>Your Score is: {{score}}</h2>

<div class="board">
  {{#each board as |space|}}
    <button class="space {{if space 'space--active'}}"
     onclick={{action "score" space}}></button>
  {{/each}}
</div>

<button
  class="start-button"
  onclick={{action "startGame"}}>Start</button>
